In [69]:
import pandas as pd

# Series

In [70]:
data = [1, 2, 3, 4, 5, 6]

In [71]:
serie = pd.Series(data)
serie

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [72]:
index = ['Linha ' + str(i) for i in range(6)]
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4', 'Linha 5']

In [73]:
serie = pd.Series(data, index)
serie

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
Linha 5    6
dtype: int64

In [74]:
data_dic = {'Linha ' + str(i) : i + 1 for i in range(6)}
data_dic

{'Linha 0': 1,
 'Linha 1': 2,
 'Linha 2': 3,
 'Linha 3': 4,
 'Linha 4': 5,
 'Linha 5': 6}

In [75]:
serie_dic = pd.Series(data_dic)
serie_dic

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
Linha 5    6
dtype: int64

In [76]:
serie_dic = serie_dic + 2
serie_dic

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
Linha 5    8
dtype: int64

In [77]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [78]:
dataframe = pd.DataFrame(data)
dataframe

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [79]:
index = ['Linha ' + str(i) for i in range(3)]
index

['Linha 0', 'Linha 1', 'Linha 2']

In [80]:
dataframe = pd.DataFrame(data, index)
dataframe

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [81]:
columns = ['Coluna ' + str(i) for i in range(3)]
columns

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [82]:
dataframe = pd.DataFrame(data=data, index=index, columns=columns)
dataframe

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [83]:
# melhorar!
data_dic = {'Coluna ' + str(c) : {'Linha ' + str(l) : l + c for l in range(3)} for c in range(3) } 
data_dic

{'Coluna 0': {'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2},
 'Coluna 1': {'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3},
 'Coluna 2': {'Linha 0': 2, 'Linha 1': 3, 'Linha 2': 4}}

In [84]:
data_dic = {'Coluna 0': {'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2},
 'Coluna 1': {'Linha 0': 3, 'Linha 1': 4, 'Linha 2': 5},
 'Coluna 2': {'Linha 0': 6, 'Linha 1': 7, 'Linha 2': 8}}
data_dic

{'Coluna 0': {'Linha 0': 0, 'Linha 1': 1, 'Linha 2': 2},
 'Coluna 1': {'Linha 0': 3, 'Linha 1': 4, 'Linha 2': 5},
 'Coluna 2': {'Linha 0': 6, 'Linha 1': 7, 'Linha 2': 8}}

In [85]:
dataframe_dic = pd.DataFrame(data_dic)
dataframe_dic

         Coluna 0  Coluna 1  Coluna 2
Linha 0         0         3         6
Linha 1         1         4         7
Linha 2         2         5         8

In [87]:
dataframe_concat = pd.concat([dataframe, dataframe_dic])
dataframe_concat

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9
Linha 0         0         3         6
Linha 1         1         4         7
Linha 2         2         5         8

In [88]:
dataframe_concat = pd.concat([dataframe, dataframe_dic], axis=1) # link por linha
dataframe_concat

         Coluna 0  Coluna 1  Coluna 2  Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3         0         3         6
Linha 1         4         5         6         1         4         7
Linha 2         7         8         9         2         5         8